<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.SpringBootVideo.mapper.UserDao">
 
<resultMap type="com.example.SpringBootVideo.model.User" id="userMap">
		<id column="id" property="id"/>
		<result column="accounts" 	property="accounts"/>
		<result column="password" 	property="password"/>
		<result column="nickname" 	property="nickname"/> 
		<result column="sex" 		property="sex"/>
		<result column="birthday" 	property="birthday"/> 		
		<result column="address" 	property="address"/> 
		<result column="imgurl" 	property="imgurl"/> 
		<result column="createtime" property="createtime"/> 
						
	</resultMap>

	
	 <insert id="add" parameterType="com.example.SpringBootVideo.model.User" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into user(accounts,password,nickname,sex,birthday,address,imgurl,createtime) values(#{accounts},#{password},#{nickname},#{sex},#{birthday},#{address},#{imgurl},#{createtime})
    </insert>
    
	 <!-- 修改 -->
      <update id="update" parameterType="com.example.SpringBootVideo.model.User" >update user set


        <if test="accounts!=null" >
         accounts=#{accounts},

        </if>

        <if test="password!=null" >
        password=#{password},

        </if>

        <if test="nickname!=null" >
        nickname=#{nickname}, 

        </if>
          <if test="sex!=null" >
        sex=#{sex},
		</if>

        <if test="birthday!=null" >
        birthday=#{birthday},

        </if>

        <if test="address!=null" >
         address=#{address}, 

        </if>

        <if test="imgurl!=null" >
        imgurl=#{imgurl} , 

        </if>

        <if test="createtime!=null" >
        createtime=#{createtime} 

        </if>
        
         where id=#{id}
    
      <!--   <where>
	    <if test="speaker_id!=null">
	     speaker_id like concat('%',#{speaker_id},'%')
	    </if>
        <if test="course_id!=null">
      and  course_id like concat('%',#{course_id},'%')
        </if>
        </where> -->
      </update>
      
      <update id="updatePassword" parameterType="com.example.SpringBootVideo.model.User" >
        update user set password=#{password} where id=#{id}
      </update>

      <!-- 删除 -->
      <delete id="delete" >
          delete from user where id=#{id}    
      </delete>
	
 	<select id="selectAll"  resultMap="userMap" >
		select * from user 
		
	</select> 
	
 	 
	
 	
	<select id="selectOne"  resultMap="userMap">
        select * from user  where id=#{id}
      </select>
      
    <select id="selectName"  resultMap="userMap">
         select * from user where accounts=#{accounts}    
      </select>
	
</mapper>